:host,
:root {
    --hcm-color-theme: #E50082;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Roboto', 'Segoe UI', Arial, 'Noto Sans', Helvetica, sans-serif;
    background-color: var(--surface-ground);
    line-height: 20px;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}